*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.hprof
*.keystore
*.jks
*.log
google-services.json
